<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='root/dashboard/cs-admin-panel.css') }}">
<div class="container">
	<br>
	<h2>Research Panel</h2>
	<p>Please contact system administrator or IT technician in case of any issue</p>
	<br>
	<div class="row">
        <a href="/manage-search">
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <div class="admin-panel--header">Elastic Search</div><br>
                        <p>You can use elastic search built to find anomalies inside data<br><br></p>
                    </div>
                </div>
            </div>
        </a>
	</div>
</div><br><br><br>
